<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>

<h1>Cadastro</h1>

    <form class="form" action="/Fcadastro" method="post">
        <label class="label">Nome Completo:</label>
        <input class="input" type="text" name="nome" step="any" required>
        <br><br>
        <label class="label">Email:.................</label>
        <input class="input" type="text" name="email" step="any" required>
        <br><br>
        <label class="label">telefone:..............</label>
        <input class="input" type="text" name="fone" step="any" required>
        <br><br>
        <label class="label">curso:..................</label>
        <select name="curso" required>
            <option value="">selecione curso por letra</option>
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
            <option value="4">D</option>
            <option value="5">E</option>
            <option value="6">F</option>
            <option value="7">S</option>
            <option value="8">V</option>
            <option value="9">W</option>
            <option value="10">T</option>
            <option value="11">Z</option>
        </select>
        <br><br>
        <label class="label">série:...................</label>
        <select name="serie" required>
         <option value="">Selecione a série</option>
         <option value="1">1º ano</option>
         <option value="2">2º ano</option>
         <option value="3">3º ano</option>
        </select>
        <br><br>
        <label class="label">senha:.................</label>
        <input class="input" type="text" name="senha" step="any" required>
        <br><br>
        <button type="submit">cadastrar</button>
    </form>

</body>
</html>
