<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
    <title>Main Page</title>
</head>
<body>

<div class="sidebar">
  <h2 class="nome-user">Menu</h2>

  {% if not session.get("id_user") %}
      <a href="/cadastro">Cadastrar-se</a>
      <a href="/login">Login</a>
  {% endif %}

  <a href="/ligas">Criar liga</a>
  
  <div class="bottom">
    {% if session.get("id_user") %}
    <p class = "nome-user">{{nome}}</p>

    <form action="/logout" method="POST">
      <button type="submit">logout</button>
    </form>
    {% else %}
      <p class = "nome-user">visitante</p>
    {% endif %}

  </div>
</div>

    
</body>
</html>