<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
    <title>Main Page</title>
</head>
<body>
<div class="conteudo">
  <h2>Ligas</h2>

  {% if ligas %}
    {% for liga in ligas %}
      <p>{{ liga[1] }}</p>
    {% endfor %}
  {% else %}
    <p>Nenhuma liga no momento</p>
  {% endif %}
</div>
<div class="sidebar">
  <h2 class="nome-user">Menu</h2>

  {% if not session.get("id_user") %}
      <a href="/cadastro" class="botao-menu">Cadastrar-se</a>
      <a href="/login" class="botao-menu">Login</a>
  {% endif %}


  {% if session.get("id_user") %}
  <a href="/ligas" class="botao-menu">Criar liga</a>
  {% endif %}


  <div class="bottom">
    {% if session.get("id_user") %}
    <p class = "nome-user">{{nome}}</p>

  <form action="/logout" method="POST" onsubmit="return confirm('Tem certeza que quer sair?')">
  <button type="button" onclick="openLogoutModal()" class="botao-logout">Logout</button>
  </form>
    {% else %}
      <p class = "nome-user">visitante</p>
    {% endif %}

  </div>
</div>

<div id="modal-logout" class="modal">
  <div class="modal-box">
    <p>Tem certeza que quer sair?</p>

    <button onclick="confirmLogout()">Sim</button>
    <button onclick="closeModal()">Cancelar</button>
  </div>
</div>


<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>