<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Ligas</title>
</head>
<body>

<h1>Cadastro de Ligas</h1>

    <form class="form" action="/Fliga" method="post">
        <label class="label">Nome da Liga:</label>
        <input class="input" type="text" name="liga" step="any" required>
        <br><br>
        <label class="label">Valor da Inscrição:</label>
        <input class="input" type="text" name="valor" step="any" required>
        <br><br>
        <label class="label">Nome do criador/Admnistrador da liga:</label>
        <input class="input" type="text" name="nocr" step="any" required>
        <br><br>>
        <label class="label">data de abertura das inicio:</label>
        <input class="input" type="date" name="datai" step="any" required>
        <br><br>
        <label class="label">fechamento de pagamento:</label>
        <input class="input" type="date" name="fechamento" step="any" required>
        <br><br>
        <label class="label">descrição:</label>
        <input class="input" type="text" name="dscr" step="any" required>
        <br><br>
        <label class="label">tipo(equipe, dupla, solo...):</label>
        <input class="input" type="text" name="tipo" step="any" required>
        <br><br>
        <button type="submit">criar liga</button>
    </form>



</body>
</html>
