<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Ligas</title>
</head>
<body>

<h1>Cadastro de Ligas</h1>

    <form class="form" action="/Fliga" method="POST" enctype="multipart/form-data">

    <label>Nome da Liga:</label>
    <input type="text" name="liga" required>
    <br><br>
    <label>Valor:</label>
    <input type="text" name="valor" required>
    <br><br>
    <label>Administrador:</label>
    <input type="text" name="nocr" required>
    <br><br>
    <label>Data início:</label>
    <input type="date" name="datai" required>
    <br><br>
    <label>Fechamento:</label>
    <input type="date" name="fechamento" required>
    <br><br>
    <label>Descrição:</label>
    <input type="text" name="dscr" required>
    <br><br>    
    <label>Tipo:</label>
    <input type="text" name="tipo" required>
    <br><br>
    <label>Regras:</label>
    <input type="file" name="regras" accept=".pdf,.txt" required>
    <br><br>
    <button type="submit">Criar liga</button>

    </form>



</body>
</html>
