<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form class="form" action="/flogin" method="post">

    {% if erro %}
    <p style="color: red;">{{ erro }}</p>
    {% endif %}
    
    {% if sucesso %}
    <p style="color:green">{{sucesso}}</p>
    {% endif %}

        <label class="label">email:</label>
        <input class="input" type="text" name="email" step="any" required>
        <br><br>
        <label class="label">senha:</label>
        <input class="input" type="password" id="senha" name="senha" required>
        <button type="button" onclick="Senha('senha')">👁️</button>
        <br><br>
        <button type="submit">logar</button>
    </form>



<div id="toast"></div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>