<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/flogin" method="post">
        <label>email:</label>
        <input type="text" name="email" step="any" required>
        <br><br>
        <label>senha:</label>
        <input type="text" name="senha" step="any" required>
        <br><br>
        <button type="submit">logar</button>
    </form>

<a href="index.html"><logar-se></logar-se></a>

</body>
</html>