<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre seu time</time></time></title>
</head>
<body>
    
    <form class="form" action="/Ftime" method="post">
        <label class="label">Nome do Time:</label>
        <input class="input" type="text" name="nome" step="any" required>
        <br><br>
        <label class="label">Esporte:</label>
        <input class="input" type="text" name="nome" step="any" required>
        <br><br>
        <label class="label">Sigla:</label>
        <input class="input" type="text" name="nome" step="any" required>
        <br><br>
        <label class="label">Logo do time:</label>
        <input class="input" type="file" name="nome" step="any" required>
        <br><br>




    </form>





</body>
</html>